use_guixs-locked() {
  eval "$(guix time-machine -C channels-lock.scm -- shell "$@" --search-paths --no-offload)" 
}

use guixs-locked python python-numpy python-pandas python-scikit-learn python-seaborn
